.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width:80%;
    height:90%;
    background-color: #eee;
    text-align: center;
    overflow-y: scroll;
    box-shadow: .2rem .2rem 2rem #999;
    position: relative;
}

.content::-webkit-scrollbar{
    display: none;
}
.content{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.content > button{
    margin: 2rem 0;
}

.model{
    position: absolute;
}