.wrapper{
    height: calc(100vh - 6rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.data{
    width: 90%;
    height: 90%;
    padding: 0 3rem;
}

.data select{
    min-width: 12rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 2rem;
    letter-spacing: .2rem;
    position: relative;
    left: -2rem;
    margin-top: 4rem;
}

.data p{
    margin-top: 5rem;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: .2rem;
    color: grey;
}
